<div class="flex flex-col min-h-full px-6 py-12 lg:px-8">
  <h2 class="text-2xl font-bold leading-7 text-gray-900">Perfil</h2>

  <div class="mt-8 bg-white rounded-md shadow-sm p-6">
    <div class="mb-4">
      <h4 class="text-base font-medium leading-5 text-gray-900">Nombre</h4>
      <p class="mt-2 text-sm text-gray-500">{{ perfilData.NOMBRE }}</p>
    </div>
    <div class="mb-4">
      <h4 class="text-base font-medium leading-5 text-gray-900">Correo Electrónico</h4>
      <p class="mt-2 text-sm text-gray-500">{{ perfilData.EMAIL }}</p>
    </div>
    <div class="mb-4">
      <h4 class="text-base font-medium leading-5 text-gray-900">Teléfono</h4>
      <p class="mt-2 text-sm text-gray-500">{{ perfilData.TELEFONO }}</p>
    </div>
  </div>
</div>
