<div class="flex flex-col min-h-full items-center justify-center px-6 py-12 lg:px-8">
  <div class="text-center">
    <h2 class="text-4xl font-bold leading-9 text-gray-900">Bienvenido a tu GYM</h2>
    <p class="mt-6 text-lg text-gray-500">
      Obtienes mas informacion entrando al repositorio en mi Github
    </p>

<br>
    <a href="https://github.com/ArauzB" class="mt-8 px-4 py-2 rounded-md bg-indigo-600 text-white font-medium text-sm shadow-sm hover:bg-indigo-500 focus:outline focus:outline-2 focus:outline-offset-2 focus:ring-indigo-600 mx-auto">
      Ingresa Github
    </a>
  </div>
</div>
